<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>netctoss</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>main</servlet-name>
  	<servlet-class>web.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>main</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <!-- 配置错误页面:当tomcat捕获
  	到这种错误时会自动转发到对应页面.
  	转发时若写绝对路径,需省略项目名,
  	因为tomcat会自动增加项目名. -->
  <error-page>
  	 <error-code>404</error-code>
  	 <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
  	 <error-code>405</error-code>
  	 <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
  	 <error-code>500</error-code>
  	 <location>/WEB-INF/error.jsp</location>
  </error-page>
  
  <!-- 登录检查过滤器 -->
  <filter>
  	<filter-name>login</filter-name>
  	<filter-class>web.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>login</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
  
</web-app>










